<div id="slider" #slider>
  <ul id="slideWrap" #sliderWrap>
    <li><img id="finance1" src="./assets/Finance1.jpg" alt="Finances Image 1"></li>
    <li><img id="finance2" src="./assets/Finance2.jpg" alt="Finances Image 2"></li>
    <li><img id="finance3" src="./assets/Finance3.jpg" alt="Finances Image 3"></li>
    <li><img id="finance4" src="./assets/Finance4.jpg" alt="Finances Image 4"></li>
  </ul>
  <button id="prev" #prev href="#" (click)="prevSlide()">&#8810;</button>
  <button id="next" #next href="#" (click)="nextSlide()">&#8811;</button>
</div>
