<footer>
  <div id="social">
    <p class="footer-text">Contact Us</p>
    <a href="mailto:support@leaf.com" target="_blank">
      <img src="../../../assets/correo.png" alt="Email" />
    </a>
    <a href="https://www.facebook.com/" target="_blank">
      <img src="../../../assets/facebook.png" alt="Facebook" />
    </a>
    <a href="https://twitter.com/" target="_blank">
      <img src="../../../assets/twitter.png" alt="Twitter" />
    </a>
    <a href="https://www.instagram.com/" target="_blank">
      <img src="../../../assets/instagram.png" alt="Instagram" />
    </a>
  </div>
  <p class="footer-text">© Copyright. All rights reserved.</p>
</footer>
